# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Chris Midgley
	email = midgleyc@gmail.com
[merge]
	conflictstyle = diff3
	tool = vimdiff3
[pull]
	rebase = true
[core]
	whitespace = trailing-space,space-before-tab,cr-at-eol
[mergetool]
	keepBackup = false
[push]
	default = current
	recurseSubmodules = check
[rerere]
	enabled = true
[interactive]
	diffFilter = diff-highlight
[pager]
	# https://stackoverflow.com/a/54240819/2591803
	diff = diff-highlight | less
	log = diff-highlight | less
	show = diff-highlight | less
[fetch]
	prune = true
[init]
	defaultBranch = main
[diff "zip"]
	textconv = unzip -c -a
