.tabbrowser-tab[pending] {
  background-color: rgba(221, 221, 221, 0.5) !important;
  color: red !important;
  font-style: italic !important;
}
.tabbrowser-tab {
  background-color: rgba(221, 221, 221, 1) !important;
}
#tabbrowser-tabs ~ #alltabs-button {
  visibility: visible !important;
}
/* based on https://old.reddit.com/comments/fwhlva//fmolndz */
#urlbar[breakout][breakout-extend]:not([open]) {
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
  left: 0 !important;
  width: 100% !important;
}
#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
}
#urlbar[breakout][breakout-extend][breakout-extend-animate] > #urlbar-background {
  animation-name: none !important;
}
#urlbar[breakout][breakout-extend]:not([open]) > #urlbar-background {
  box-shadow: none !important;
}

/**** based on https://www.userchrome.org/firefox-89-styling-proton-ui.html#tabstyler ****/
/* Inactive tabs: Separator line style */

@media (-moz-proton) {
    .tab-background {
        border-right: 1px solid rgba(0, 0, 0, .20) !important;
        border-radius: 0 !important;
    }
}

/**** end based on https://www.userchrome.org/firefox-89-styling-proton-ui.html#tabstyler ****/
